// COLORS
$color-primary-light: #1B325F;
$color-primary: #C8D6BF;
$color-primary-dark: #6CBDB5;

$color-secondary-light: #BF1E62;
$color-secondary-dark: #572E4F;

$color-tertiary-light: #E9F2F9;
$color-tertiary-dark: #3A89C9;

$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #444;
$color-matte-black: #222;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;